/********** Utilitys Start**********/
/***********************************/

/* transform: translateY(-1rem); */
/* universal */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* for font round off font size */
html,
body {
 font-size: 62.5%;
}

/* 
font-family: 'Great Vibes', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* function */
:root {
 --primaryColor: #c49b63;
 --darkBg: #120f0f;
 --darkNav: #151111;
 --whiteColor: #fff;
 --offWhite: #ffffffe6;
 --gray: #808080;
 --lightGray: #bfbfbf;
}

/* common class start*/

/* italic font */
.subHeading {
 display: block;
 font-family: "Great Vibes", cursive;
 font-size: 5rem;
 color: var(--primaryColor);
 margin-bottom: -1.9rem;
 /* z-index: 1; */
}

/* h1 */
.h1 {
 font-size: 4rem;
 color: var(--whiteColor);
 font-family: "Josefin Sans", sans-serif;
 font-weight: normal;
 line-height: 1.4;
 letter-spacing: 0.1rem;
}

/* h2 */
.h2 {
 font-family: "Josefin Sans", sans-serif;
 font-size: 4rem;
 font-weight: 700;
 color: var(--whiteColor);
 margin-bottom: 2.4rem;
 position: relative;
 text-transform: uppercase;
}

/* h3 white color */
.h3-light {
 font-family: "Josefin Sans", sans-serif;
 font-size: 1.8rem;
 color: var(--whiteColor);
 margin-bottom: 0.8rem;
}

/* h3 black color */
.h3-dark {
 font-family: "Josefin Sans", sans-serif;
 font-size: 1.8rem;
 color: #000;
 margin-bottom: 2rem;
 font-weight: 400;
}

/* h5 */
.h5 {
 font-family: "Josefin Sans", sans-serif;
 font-size: 1.6rem;
 font-weight: 400;
 color: var(--whiteColor);
 margin-bottom: 4rem;
 letter-spacing: 0.1rem;
 position: relative;
}

/* p light */
.para-light {
 font-family: "Poppins", sans-serif;
 font-size: 1.5rem;
 color: var(--whiteColor);
 margin-bottom: 1.6rem;
}

/* p mid */
.para-mid {
 font-family: "Poppins", sans-serif;
 font-size: 1.5rem;
 color: #1d150b;
 margin-bottom: 1.6rem;
}

/* p dark */
.para-dark {
 font-family: "Poppins", sans-serif;
 font-size: 1.5rem;
 color: var(--gray);
 margin-bottom: 1.6rem;
}

/* top p tag for inline block*/
.top-para {
 display: inline-block;
 max-width: 57%;
 margin-bottom: 10rem;
}
button,
input,
textarea {
 font-family: "Poppins", sans-serif;
}

/* button style */
.btn-style {
 display: inline-block;
 padding: 1.3rem 3rem;
 border: 1px solid var(--primaryColor);
 font-size: 1.4rem;
 color: var(--primaryColor);
 transition: all 0.3s ease-in-out;
 margin-top: 1.5rem;
}

/* button style hover */
.btn-style:hover {
 background-color: var(--primaryColor);
 color: var(--whiteColor);
 border: 1px solid var(--primaryColor);
}

/* a tag */
a {
 text-decoration: none;
 font-family: "Poppins", sans-serif;
}

/* container */
.container {
 max-width: 80%;
 margin: 0 auto;
 padding: 5% 0;
}
/* common class end*/

/********** Utilitys End**********/
/***********************************/

/********** Header Start**********/
/***********************************/

/* hero */
.head {
 background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../img/main-bg.jpg");
 width: 100%;
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
}

/* navbar */
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 2% 5%;
 width: 100%;
 position: fixed;
 left: 0;
 top: 0;
 border-bottom: 1px solid #ffffff1a;
 z-index: 2;
}

/* ul */
.nav-menu {
 display: flex;
 position: relative;
}

/* li */
.nav-list {
 list-style-type: none;
 padding-left: 1.5rem;
 position: relative;
}

/* a */
.nav-link {
 font-size: 1.6rem;
 color: var(--whiteColor);
 transition: all 0.2s ease-in-out;
 position: relative;
 display: block;
 padding-left: 3rem;
}

.nav-link:hover,
.nav-link.current {
 color: var(--primaryColor);
}

/* logo */
.logo {
 font-family: "Josefin Sans", sans-serif;
 font-size: 3rem;
 color: var(--whiteColor);
 letter-spacing: 0.1rem;
 cursor: pointer;
 position: relative;
}

.logo-color {
 color: var(--primaryColor);
}

/* hamburger */
.hamburger {
 display: none;
}

.hamburger .bar {
 display: block;
 width: 2.5rem;
 height: 0.3rem;
 margin-bottom: 0.5rem;
 background-color: var(--whiteColor);
 transition: all 0.3s ease-in-out;
}

/* for sticky navar bar big screen style start*/
/* for navbar */
.navbar.sticky {
 padding: 2.2% 5%;
 background-color: var(--darkNav);
 transition: all 0.4s ease-in-out;
 border-bottom: 0;
 box-shadow: (rgba(252, 252, 252, 0.7), rgba(235, 235, 235, 0.7));
}

/* tagline */
.tag-line {
 text-align: center;
 padding: 24rem 0 25rem;
}

/*italic font  */
.tag-line span {
 display: block;
 font-family: "Great Vibes", cursive;
 font-size: 5rem;
 color: var(--primaryColor);
 margin-bottom: -1rem;
}

/* tagline p */
.tag-line .para-tag {
 font-family: "Poppins", sans-serif;
 font-size: 1.8rem;
 color: var(--whiteColor);
 margin-bottom: 5rem;
}

/* tagline order button */
.tag-line .btn .btn-order {
 padding: 1.5rem 3rem;
 background-color: var(--primaryColor);
 font-size: 1.4rem;
 color: #000;
 margin-right: 2rem;
 transition: all 0.3s ease-in-out;
}

/* order hover */
.tag-line .btn .btn-order:hover {
 background-color: transparent;
 border: 1px solid var(--whiteColor);
 color: var(--whiteColor);
}

/********** Header End**********/
/***********************************/

/**********Section 1 Cafe info Start**********/
/******************************************/
.sec1 {
 width: 100%;
 background-color: var(--darkBg);
}

.cafe-info {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

.cafe-info .info-common {
 display: flex;
 width: 30%;
}
.info-common .icon {
 width: 10%;
 color: var(--primaryColor);
 font-size: 1.6rem;
}

.info-common .text {
 width: 70%;
}
/**********Section 1 Cafe info End**********/
/******************************************/

/**********Section 2 Our story start**********/
/*********************************************/
.sec2 {
 width: 100%;
 background-image: url("../img/bg.jpg");
 background-attachment: fixed;
}

.our-story {
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
}

.our-story .story-common {
 width: 50%;
}

.our-story img {
 width: 100%;
}

.our-story .right-text {
 position: absolute;
 right: 20rem;
 background-color: #0000009e;
 padding: 4rem;
}
/**********Section 2 Our story End************/
/*********************************************/

/**********Section 3 Delivery Sec Start************/
/*************************************************/
.sec3 {
 width: 100%;
 background-color: var(--primaryColor);
}
.delivery {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: center;
}
.delivery-common {
 width: 30%;
}
.delivery-common .delivery-icon {
 font-size: 3rem;
 margin: 0 auto 6rem;
 border: 1px solid #674c27;
 padding: 4rem;
}
/**********Section 3 Delivery Sec End************/
/************************************************/

/**********Section 4 Our Menu Start************/
/************************************************/
.sec4 {
 width: 100%;
 background-image: url("/img/bg.jpg");
 background-attachment: fixed;
}

.menu {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: right;
}

.menu .menu-common {
 width: 49%;
}

/* menu img section */
.menu-img {
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 gap: 2rem;
}

.menu-img .img-common {
 width: 48%;
}

.menu .menu-img img {
 width: 100%;
}

/**********Section 4 Our Menu End***************/
/************************************************/

/**********Section 5 Store Details Counter Start***************/
/**************************************************************/
.sec5 {
 width: 100%;
 background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("/img/counter-bg.jpg");
 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
 padding-top: 3rem;
}
.counter-container {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.counter {
 text-align: center;
}

.counter-icon {
 font-size: 2.8rem;
 color: var(--primaryColor);
 border: 1px solid var(--primaryColor);
 padding: 3rem;
 margin-bottom: 3rem;
 transition: all 0.5s ease-in-out;
 cursor: pointer;
}

.counter-icon:hover {
 transform: rotate(360deg);
 background-color: var(--primaryColor);
 color: var(--darkBg);
}
.counter h3 {
 font-family: "Josefin Sans", sans-serif;
 font-size: 3rem;
 color: var(--primaryColor);
 margin-bottom: 1rem;
 font-weight: 500;
}

.counter h5 {
 font-family: "Poppins", sans-serif;
 font-size: 1.6rem;
 font-weight: 400;
 color: var(--whiteColor);
 margin-bottom: 4rem;
 letter-spacing: 0.1rem;
}
/**********Section 5 Store Details Counter End***************/
/************************************************************/

/**********Section 6 Coffee Best Seller Start***************/
/************************************************************/
.sec6 {
 width: 100%;
 background-image: url("/img/bg.jpg");
 background-attachment: fixed;
 text-align: center;
}

.best-seller {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.best-seller .seller-common {
 width: 23%;
}
.best-seller .seller-common img {
 width: 100%;
 margin-bottom: 2rem;
}
.best-seller .seller-common span {
 display: block;
}

/* img gallery */
.img-gallery {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10rem 0 5rem;
}

.img-gallery-common {
 width: 25%;
}
.img-gallery-common img {
 width: 100%;
}
/**********Section 6 Coffee Best Seller End***************/
/************************************************************/

/**********Section 7 Recent Blog Start***************/
/****************************************************/
.sec7 {
 width: 100%;
 background-image: url("/img/bg.jpg");
 background-attachment: fixed;
 text-align: center;
}

.blogs {
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-align: left;
}
.blogs .blog-common {
 width: 30%;
}
.blogs .blog-common img {
 width: 100%;
 margin-bottom: 1rem;
}

/*span tag admin  */
.blog-common span {
 margin: 0 1rem;
}

/* icon */
.blog-common .blog-icon {
 margin-right: 0.6rem;
 color: var(--primaryColor);
}

/* a tag for color and weight */
.blog-common a {
 font-weight: 400;
 color: var(--whiteColor);
}
.blog-common a:hover {
 color: var(--primaryColor);
}

/**********Section 7 Recent Blog End***************/
/**************************************************/

/**********Section 8 Testimony Start***************/
/**************************************************/
.sec8 {
 width: 100%;
 background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
  url("/img/test-bg.jpg");
 background-position: center top;
 background-attachment: fixed;
 background-size: cover;
 text-align: center;
}

.testimony {
 display: flex;
 align-items: flex-end;
 text-align: left;
}

.testimony .testimony-common {
 background-color: var(--primaryColor);
 width: 20%;
 padding: 3rem;
}

/*2 and 4 test background color change */
.testimony .test2,
.testimony .test4 {
 background-color: #a88553;
}

/* customer testimony para edit because .para-light has less margin-bottom etc.*/
.testimony .testimony-common .para-light {
 line-height: 3rem;
 font-size: 1.6rem;
 margin-bottom: 4rem;
}

/* for bottom customer img and text use felx in customer */
.customer {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* customer img 1st child*/
.customer .customer-img {
 width: 20%;
}
.customer .customer-img img {
 width: 100%;
 border-radius: 50%;
}

/* customer text 2nd child*/
.customer .customer-text {
 width: 75%;
}

/* .para-light for less margin bottom */
.customer .customer-text .para-light {
 margin-bottom: 0.5rem;
}

/* customer position */
.customer .customer-text span {
 font-size: 1rem;
 color: var(--whiteColor);
 font-family: "Poppins", sans-serif;
}

/**********Section 8 Testimony End***************/
/**************************************************/

/**********Section 9 Contact Start****************/
/**************************************************/
.sec9 {
 width: 100%;
 background-image: url("/img/bg.jpg");
}

/* contact container */
.contact {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* common width for both child */
.contact .contact-common {
 width: 45%;
}

/* left child map */
.contact-common .left-map {
 width: 100%;
 height: 25rem;
}

/* right form h3 */
.contact-common h3 {
 font-family: "Josefin Sans", sans-serif;
 font-size: 3rem;
 font-weight: 400;
 color: var(--whiteColor);
 margin-bottom: 1rem;
}

/* form */
.contact-form .form-group-name,
.contact-form .form-group-details {
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.contact-form .form-group-message {
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
}

/* input and text area */
input,
textarea {
 width: 48%;
 padding: 2rem 0;
 background-color: transparent;
 border: 0;
 color: var(--gray);
 border-bottom: 1px solid #ffffff1a;
 resize: none;
}

input:focus,
textarea:focus {
 outline: none;
}

/* form btn */
.btn-form {
 background-color: var(--primaryColor);
 padding: 1rem 2rem;
 width: 48%;
 border: none;
 cursor: pointer;
 transition: all 0.3s ease-in-out;
}
.btn-form:hover {
 background-color: transparent;
 color: var(--whiteColor);
 border: 1px solid var(--primaryColor);
}
/**********Section 9 Contact End*******************/
/**************************************************/

/**********Section 10 Footer Start*******************/
/**************************************************/
.sec10 {
 width: 100%;
 background-color: var(--darkBg);
 text-align: center;
}
.footer {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 text-align: left;
 padding-bottom: 15rem;
}

/* FOOT ABOUT US */
.footer .foot-about {
 width: 19%;
}

/* ul */
.foot-about .about-ul {
 display: flex;
 justify-content: flex-start;
}

.about-ul li {
 list-style: none;
 margin: 2rem 4rem 0 0;
}

/* about icon */
.about-ul .about-icon {
 font-size: 2rem;
 color: var(--whiteColor);
 padding: 1rem;
 border-radius: 50%;
 background-color: #ffffff0d;
}

/* FOOT RECENT BLOG*/
.footer .foot-blog {
 width: 35%;
}

.recent-blog-common {
 display: flex;
 gap: 2rem;
}

/* recent blog img */
.recent-blog-common .recent-blog-img {
 width: 20%;
}

.recent-blog-common .recent-blog-img img {
 width: 100%;
}

/* recent blog text */
.recent-blog-text h5 {
 font-size: 1.4rem;
 width: 75%;
}

.recent-blog-text a {
 color: var(--whiteColor);
 font-weight: 400;
}

/*span tag admin  */
.recent-blog-text span {
 margin: 0 1rem;
}

/* icon */
.recent-blog-text .blog-icon {
 margin-right: 0.6rem;
 color: var(--primaryColor);
}

/* FOOT SERVICE */
.footer .foot-service {
 width: 14%;
}
.foot-service .service-ul li {
 list-style-type: none;
 font-size: 1.4rem;
 margin-bottom: 2rem;
 font-family: "Poppins", sans-serif;
 color: var(--gray);
}

/* FOOT QUESTION */
.footer .foot-question {
 width: 20%;
}
.common-que {
 display: flex;
}
.common-que .que-icon {
 font-size: 1.5rem;
 margin-right: 1.5rem;
 color: var(--whiteColor);
}

/* COPYRIGHT */
.copyright {
 padding-bottom: 10rem;
}
/**********Section 10 Footer End*******************/
/**************************************************/

/********** Media Query For Mobile Start**********/
/***********************************************/

@media only screen and (min-width: 280px) and (max-width: 768px) {
 /********** Common Class Start**********/
 .container {
  max-width: 90%;
 }

 .subHeading {
  font-size: 3rem;
  margin-bottom: -1rem;
 }

 .h1 {
  font-size: 3rem;
 }

 .h2 {
  font-size: 2.8rem;
 }

 .h3-light {
  font-size: 1.6rem;
  font-weight: 300;
 }

 .top-para {
  margin-bottom: 5rem;
  max-width: 100%;
 }

 .btn-style {
  margin-bottom: 3rem;
 }

 /********** Common Class End**********/
 /********** Header Start**********/

 /* responsive Navbar start*/

 .logo {
  font-size: 2.8rem;
 }
 .nav-menu {
  position: fixed;
  top: -100%;
  left: 0;
  background-color: var(--darkNav);
  flex-direction: column;
  width: 100%;
 }

 .nav-list {
  margin: 2rem auto;
 }

 .nav-list,
 .nav-link {
  padding-left: 0;
 }

 .hamburger {
  display: block;
 }

 /* eventlistner for sticky and active*/
 /* when we click on hamburger */
 .navbar.active {
  background-color: var(--darkNav);
 }

 .nav-menu.active {
  top: 4rem;
 }

 /* hamburger transform */
 .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
 }
 .hamburger.active .bar:nth-child(2) {
  opacity: 0;
 }
 .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
 }

 /* hamburger color */
 .hamburger.active .bar {
  background-color: var(--primaryColor);
 }

 /* tagline */
 .tag-line {
  padding: 19rem 0 15rem;
 }
 .tag-line .btn .btn-order {
  margin-right: 0;
 }
 /* responsive Navbar End*/
 /********** Header End**********/

 /********** Section 1 cafe info start**********/
 .cafe-info {
  flex-flow: column wrap;
 }
 .cafe-info .info-common {
  width: 100%;
  margin: 2.5rem 0 2rem;
 }
 .info-common .text {
  width: 100%;
 }
 /********** Section 1 cafe info End**********/

 /********** Section 2 Our Story Start**********/
 .our-story {
  flex-flow: column nowrap;
 }
 .our-story .story-common {
  width: 100%;
 }

 .our-story .right-text {
  position: relative;
  right: 0;
 }
 /********** Section 2 Our Story End***********/

 /********** Section 3 Delivery Sec Start***********/
 .delivery {
  flex-flow: column nowrap;
 }
 .delivery-common {
  width: 100%;
 }
 .delivery-common .delivery-icon {
  margin: 4rem auto 3rem;
 }
 /********** Section 3 Delivery Sec End***********/

 /********** Section 4 Our Menu Start***********/
 .menu {
  flex-flow: column nowrap;
  text-align: center;
 }

 .menu .menu-common {
  width: 100%;
 }

 /* menu img */
 .menu-img {
  gap: 0;
 }

 .menu-img .img-common {
  width: 100%;
  margin: 2rem auto;
 }

 /********** Section 4 Our Menu End*************/

 /********** Section 5 Store Details Counter Start*************/
 .counter-container {
  flex-flow: row wrap;
  align-items: flex-start;
 }
 .counter {
  width: 50%;
 }
 .counter h5 {
  margin-bottom: 2rem;
 }
 /********** Section 5 Store Details Counter End*************/

 /********** Section 6 coffee best seller Start*************/

 /* best seller */
 .best-seller {
  flex-flow: column nowrap;
 }

 .best-seller .seller-common {
  width: 100%;
 }

 /* img gallery */
 .img-gallery {
  flex-flow: column nowrap;
  padding: 2rem 0 5rem;
 }

 .img-gallery-common {
  width: 100%;
 }
 /********** Section 6 coffee best seller End**************/

 /********** Section 7 Recent Blog Start**************/
 .blogs {
  flex-flow: column nowrap;
 }
 .blogs .blog-common {
  width: 100%;
 }
 .blogs .blog-common img {
  margin-top: 2rem;
 }
 /********** Section 7 Recent Blog End****************/

 /**********Section 8 Testimony Start**********/
 .testimony {
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
 }

 .testimony .testimony-common {
  width: 100%;
  padding: 3rem;
 }
 /********** Section 8 Testimony End**********/

 /********** Section 9 Contact Start**********/
 .contact {
  flex-flow: column nowrap;
 }

 /* common width for both child */
 .contact .contact-common {
  width: 100%;
 }

 .contact-common .left-map {
  margin: 2rem 0 4rem;
 }
 .right-form {
  margin-bottom: 3rem;
 }
 /********** Section 9 Contact End**********/

 /**********Section 10  Footer Start**********/
 .sec10 {
  padding-top: 3rem;
 }
 .footer {
  flex-flow: column nowrap;
  padding-bottom: 5rem;
 }
 .footer .foot-about,
 .footer .foot-blog,
 .footer .foot-service,
 .footer .foot-question {
  width: 100%;
 }

 /* about */
 .foot-about .about-ul {
  margin-bottom: 5rem;
 }

 /* blog */
 .recent-blog-common .recent-blog-img {
  width: 30%;
 }

 .recent-blog-text h5 {
  width: 100%;
 }

 /* for margin b/w blog and service */
 .recent-blog2 {
  margin-bottom: 5rem;
 }

 /* service */
 .foot-service .service-ul li:last-child {
  margin-bottom: 5rem;
 }

 /* foot question */
 .common-que {
  margin-bottom: 2rem;
 }
 .copyright {
  padding-bottom: 6rem;
 }
 /**********Section 10  Footer End**********/
}

/********** Media Query For Mobile End**********/
/***********************************************/
